
@media screen and (min-width: 850px) {
.container {
    height: 100%;
    padding-top: 10rem;
    text-align: center;
    margin: 0 auto;
}

.row {
    height: 2rem;
    border: 1px solid gray;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 0px;
    margin-bottom: 1rem;
    text-align: left;
    background-color: #e9e8e8;
    align-items: center;
    width: 90%;
}

.row>div {
    padding-left: 0.5rem;
    border-right: 1px dashed gray;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


}
@media screen and (max-width: 850px) {

    .row {
        border: 1px solid gray;
        background-color: #e9e8e8;
        width: 70%;
        margin-bottom: 1rem;
 
        align-items: center;

        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .row>div :not(:last-child){
    text-align: center;
        
        width: 90%;
        height: 1.5rem;
    }
    .row :not(:last-child){
        border-bottom: none;
        margin-bottom: 0.5rem;
        
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
}